<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Vibe Check</string>
    <key>CFBundleExecutable</key>
    <string>MacVerce</string>
    <key>CFBundleIdentifier</key>
    <string>com.vladbabic.macverce</string>
    <key>CFBundleIconFile</key>
    <string>MacVerce</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>VibeCheck</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.6</string>
    <key>CFBundleVersion</key>
    <string>7</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 Vladimir Babic</string>
    <key>SUAllowsAutomaticUpdates</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <true/>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/Vladimirbabic/vercel-status/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>Zm6BMUkB/UwYb3aPUvzl086c6ZuTD8Ok98cbug6h6w4=</string>
</dict>
</plist>
